[Unit]
Description=Python Demo Service

[Service]
ExecStart=%h/.local/docker-alias/daemon/daemon
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target
